{% extends "base.html" %}

{% block title %}Urteil {{ object.file_reference }}{% endblock %}

{% block additional_meta %}
<meta name="description" content="{{ object.subject }} - {{ object.content }}">

{% endblock %}

{% block body %}

<div class="page-header">
  <h2>
    {{ object.file_reference }}
    <small>{{ object.court }}</small>
  </h2>
</div>

<div class="row">
  <div class="col-lg-3 col-md-4">
    <p>
      <a href="{% url 'haystack_search' %}">Zurück zur Suche</a>
    </p>
    {% include "rulings/_granted.html" with granted=object.granted %}
    <dl>
      <dt>Gegenstand</dt>
      <dd>
        {{ object.subject }}
      </dd>
      <dt>Urteil im Volltext</dt>
      <dd>
        <a href="{{ FILE_URL_PREFIX }}{{ object.filename }}">
          {{ object.file_reference }}
        </a>
      </dd>
      {% if object.value %}
        <dt>Streitwert</dt>
        <dd>{{ object.value }} {{ object.value_currency }}</dd>
      {% endif %}
      {% if object.jurisdiction %}
        <dt>Ebene</dt>
        <dd>{{ object.jurisdiction }}</dd>
      {% endif %}
    </dl>
  </div>
  <div class="col-lg-9 col-md-8">
    <h4>Zusammenfassung</h4>
    <div class="well">
      {{ object.content|linebreaks }}
    </div>
  </div>
</div>

{% endblock %}