[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
dj-static = "*"
django-haystack = "*"
gunicorn = "*"
honcho = "*"
psycopg2 = "*"
pystache = "*"
requests = "*"
simplejson = "*"
static = "*"
Django = "==2.2.13"
elasticsearch = ">=2.0.0,<3.0.0"

[dev-packages]

[requires]
python_version = "3.6"
